@page "/create_order"
@using FinalProject.Domain.Entities

<h3>CreateOrder</h3>
<div>

    <EditForm Model="@order" OnValidSubmit="@HandleValidSubmit">
        <button type="submit">Submit</button>
    </EditForm>
</div>

@code {
    Order order = new Order();

    private void HandleValidSubmit()
    {
      
    }


}
